@import "../Mixins/Mixin";

.main-table {
    background-color: rgb(89 111 11 / 70%);
    box-shadow: 5px 5px 10px rgb(0 0 0 / 30%);
    @include dimensions(1300px, none);
    border-bottom: 1px black solid;
    @include margin-package(none, 20px, none, none);
}

.scroll-window {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @include dimensions(90%, none);
    overflow-x: auto;
    @media all and (min-width: 992px) {
        @include margin-package(none, 10px, none, none);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include margin-package(none, 20px, none, none);
    }
    @media all and (max-width: 767px) {
        @include margin-package(none, 15px, none, none);
    }
}

.column-content {
    @media all and (min-width: 992px) {
        @include dimensions(none, 50px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include dimensions(none, 45px);
    }
    @media all and (max-width: 767px) {
        @include dimensions(none, 40px);
    }
    border-bottom: 1px black solid;
    cursor: pointer;
}

.column-title-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.column-title {
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(18px, bold);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(16px, bold);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(14px, bold);
    }
    color: white;
}

.arrowWhite {
    color: white;
}

.columnSelectedColor{
    background-color: rgb(0 0 0 / 10%);
}

.errorMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(18px, normal);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(16px, normal);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(14px, normal);
    }
    @include dimensions(100%, none);
}

.column-title-arrows{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.column-title-single-arrow{
    border: none;
    background-color: rgb(255 255 255 / 0%);
    cursor: pointer;
    color: rgb(255 255 255 / 30%);
}

.row-information {
    @media all and (min-width: 992px) {
        @include syntaxe-garamond(16px, normal);
        @include dimensions(none, 40px);
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        @include syntaxe-garamond(14px, normal);
        @include dimensions(none, 35px);
    }
    @media all and (max-width: 767px) {
        @include syntaxe-garamond(12px, normal);
        @include dimensions(none, 30px);
    }
}

.row-information-text {
    @include padding-package(none, none, 15px, none);
}

.row-information-text-selected {
    background-color: rgb(0 0 0 / 10%);
}

.odd {
    background-color: rgb(255 255 255 / 100%);
}

.odd:hover {
    background-color: rgb(255 255 255 / 70%);
}

.even {
    background-color: rgb(255 255 255 / 70%);
}

.even:hover {
    background-color: rgb(255 255 255 / 70%);
}