@import "../Mixins/Mixin";

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    display: block;
    @include margin-package(1rem, 10px, none, none);
}

.address {
    @include margin-package(10px, none, none, none);
}

/*-- My CSS code added --*/

.employees-page-banner {
    display: flex;
    align-items: center;
    @include dimensions(90%, none);
    @include margin-package(none, 20px, none, none);
    @media all and (min-width: 992px) {
        justify-content: space-between;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-around;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
    }
}

.employees-page-footer {
    display: flex;
    align-items: center;
    @include dimensions(90%, none);
    @include margin-package(none, 40px, none, none);
    @media all and (min-width: 992px) {
        justify-content: space-between;
    }
    @media all and (min-width: 768px) and (max-width: 991px) {
        justify-content: space-around;
    }
    @media all and (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
    }
}